[submodule "static/submodules/lessons-learned-from-todoist-habitrpg"]
	path = static/submodules/lessons-learned-from-todoist-habitrpg
	url = https://kusold@bitbucket.org/kusold/lessons-learned-from-todoist-habitrpg.git
[submodule "static/submodules/aws-user-space"]
	path = static/submodules/aws-user-space
	url = https://kusold@bitbucket.org/kusold/aws-user-space.git
[submodule "static/submodules/cross-compile-golang"]
	path = static/submodules/cross-compile-golang
	url = https://kusold@bitbucket.org/kusold/cross-compile-golang.git
