[submodule "talks/lessons-learned-from-todoist-habitrpg"]
	path = talks/lessons-learned-from-todoist-habitrpg
	url = https://kusold@bitbucket.org/kusold/lessons-learned-from-todoist-habitrpg.git
[submodule "talks/aws-user-space"]
	path = talks/aws-user-space
	url = https://kusold@bitbucket.org/kusold/aws-user-space.git
[submodule "talks/cross-compile-golang"]
	path = talks/cross-compile-golang
	url = https://kusold@bitbucket.org/kusold/cross-compile-golang.git
