.navbar {
  background-color: #1EA286;
}

.navbar-brand {
  color: #434244;
  width: 100%;
}

.navbar-nav>li>a {
  color: #434244;
}

body {
  color: #434244;
}

a {
  color: #1EA286;
}

.posts>li>a {
  font-size: 18px;
}

.avatar {
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
}

.vmiddle {
  margin-top: 50%
}
