.navbar {
  background-color: #1EA286;
}

.navbar-brand {
  color: #434244;
  width: 100%;
}

.navbar-nav>li>a {
  color: #434244;
}

body {
  color: #434244;
}

a {
  color: #1EA286;
}

.posts>li>a {
  font-size: 18px;
}

.avatar {
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
}

.vmiddle {
  margin-top: 50%
}

body {
  font-size: 2em;
}

.article {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.article-listing {
  margin-left: auto;
  margin-right: auto;
}

.article-listing time {
  display: block;
  margin-top: -7px;
}

.article-date, #talks .presented-at {
  font-size: 0.9em;
  color: #919191
}

h1 {
  font-size: 2em;
}

li > p {
  margin: 0 0;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

ul.posts {
  list-style-type: none;
}

div[id$="-rating"] {
 width: 105px !important;
}

#home, .article, #talks {
  margin-top: 4em;
}

#talks .presentation-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

#talks .presentation {
  position: relative;
  padding-bottom: 75%; /* 4:3 (3/4) */
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

#talks iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#talks h2, #talks .description {
  margin-bottom: 0;
}

iframe {
  border: none;
}
